Package: com.yourepo.gmspack.istec20
Name: ISTEC 2.0.2
Version: 2.0.2
Architecture: iphoneos-arm
Description: PLEASE READ TJE DESCRIPTION THANKS
Author: Aka <gmspack404@protonmail.com>
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Maintainer: gmspack <gmspack404@protonmail.com>

